JAXB/xml-resources/jaxb/JaxbBinding/apartmentXSD.xsd

<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="apartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="apartment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="idApartment" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="bedrooms" type="xs:unsignedByte" />
              <xs:element name="bathrooms" type="xs:unsignedByte" />
              <xs:element name="canSleepMax" type="xs:unsignedByte" />
              <xs:element name="from" type="xs:dateTime" />
              <xs:element name="from_ShortDate" type="xs:string" />
              <xs:element name="to" type="xs:dateTime" />
              <xs:element name="to_ShortDate" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>